
    a:link, a:visited, a:active, a:focus {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    *:focus { outline-style: none; }

    h1#title {
      font-family: 'Archive' !important;
      color: white;
    }



    footer {
      padding-top: 1em;
      line-height: 130%;
      text-align: center;
      border-top: 1px solid #00be7b;
      font-size: smaller;
    }

    footer a:link, footer a:visited, footer a:active, footer a:focus {
        font-weight: bold;
    }
