{% import 'helper.twig' as helper %}
{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste</h1>
    <div class="search-widget">
        {{ searchwidget(searchwidget) }}
    </div>

    <ul class="listing">
        {% for entry in entries %}

        <li {% if entry.__get('ssFlag') %}class="plus"{% endif %}>
            <a href="{{ path('list-detail', {'row': entry.__get('row')}) }}">
                {{ helper.list_short(entry) }}
            </a>
        </li>

        {% endfor %}
    </ul>

    {{ pagerfanta(pager) }}
{% endblock %}