{% import 'helper.twig' as helper %}
{% extends 'layout.html.twig' %}

{% block content %}
<h2><a name="Statistik" class="anchor-offset"></a>Statistik</h2>
<ul>
    <li><a href="{{ path('analyse-geburtsjahr') }}">Jahresübersicht</a></li>
</ul>

<h2><a name="Visualisierung" class="anchor-offset"></a>Visualisierung</h2>
<ul>
    <li>TODO</li>
</ul>

<h2><a name="Orte" class="anchor-offset"></a>Orte</h2>
<ul>
    <li>TODO</li>
</ul>
{% endblock %}