{% import 'helper.twig' as helper %}
{% extends 'layout.html.twig' %}
{% block head %}
    <script src="{{ app.request.basepath }}/js/highchart-js/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/js/highchart-js/themes/sand-signika.js"></script>
    <script type="text/javascript">
	var chart;

	$(document).ready(function() {
		chart = new Highcharts.Chart({
            chart: {
				type: 'scatter',
                renderTo: 'container',
				zoomType: 'xy'
			},
            title: {
                text: 'Wikipedia Personenartikel: Artikellänge vs Aufrufe'
            },
            yAxis: {
				title: {
					enabled: true,
					text: 'Anzahl Wörter pro Artikel'
				},
				min: 0,
				startOnTick: true,
				endOnTick: true,
				showLastLabel: true
			},
            xAxis: {
				title: {
					text: 'Anzahl Aufrufe (in 30 Tagen)'
				},
				labels: {
					// enabled: false
					formatter: function() {
						return this.value;
					}
				},
				type: 'logarithmic'
			},
            legend: {
                enabled: false
            },
			tooltip: {
				formatter: function () {
					return '<a target="_blank" href="' + decodeURIComponent(this.point.name) + '"><b>'
					  + decodeURIComponent(this.point.name) + '</b></a><br>'
					  + this.x + ' Aufrufe, ' + this.y + ' Wörter';
				},
				hideDelay: 1500, // default is 500
				useHTML: true
			},
			plotOptions: {
                scatter: {
					marker: {
						radius: 3,
						states: {
							hover: {
								enabled: true,
								lineColor: 'rgb(100,100,100)'
							}
						}
					}
				}
            },
			series: [{
				dataLabels: {
					enabled: false,
					style: {color: "black" }
				},
				turboThreshold: 5000,
				data: {{ data|raw }}
			}]

});


});
    </script>
{% endblock %}

{% block content %}
    <div id="container" style="min-width: 800px; height: 400px; margin: 0 auto;"></div>
{% endblock %}